.carouselimgsz{
    height:350px;
} 
.main-container{
    height: 100%;
    background-color: rgba(255, 255, 0, 0.432);
}   
.card-footer{
    background-color: rgba(255, 255, 0, 0.432);
    text-align: center;
}