<div class="main-container">
    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/banner.jpg" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <section class="bg-LIGHT text-DARK p-md-3 pt-lg-4 text-center" id="category">
        <div class="container">
            <div class="justify-content-between">
                <div>
                    <h3>CURRENT PETS AVAILABLE</h3>
                </div>
                <div class="row mt-5">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Species</th>
                                <th>Breed</th>
                                <th>Owner</th>
                                <th>Check In Date</th>
                                <th>Check Out Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let animal of AnimalArray">
                                <td>{{animal.id}}</td>
                                <td>{{animal.name}}</td>
                                <td>{{animal.species}}</td>
                                <td>{{animal.breed}}</td>
                                <td>{{animal.owner}}</td>
                                <td>{{animal.checkInDate | date: 'MM/dd/yyyy'}}</td>
                                <td>{{animal.checkOutDate | date: 'MM/dd/yyyy'}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row row-cols-sm-5  mx-2 mb-3 justify-content-center">
            <div class="col" *ngFor="let cat of AnimalArray">
                <div class="card">
                    <img [src]="cat.src">
                    <div class="card-footer">
                        <h5 class="card-title ">Meet {{cat.name}} </h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>