.header-res-text{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-right: 750px;
  }
  .copyright{
    text-align: center;
}
footer{
    margin-top: auto;
}
a[href^="#"]{
    color: white;
    text-decoration: none;
  }
  .iconsize{
    justify-content: right;
  }