<div class="main-container">
    <div class="carousel-size w-100">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/banner.jpg" class="d-block w-100 carouselimgsz" alt="banner">
                </div>
            </div>
        </div>
    </div>
    <DIV class="container ">
        <div class="justify-content-center">
            <div class="header-res-text">
                ADD A NEW PET
            </div>
            <div class="row mb-3 w-50">
                <label for="inputName" class="col-sm-2 col-form-label">Pet Name</label>
                <div class="col-sm-10">
                    <input type="text" name = "Name" [(ngModel)]="newAnimal.name" class="form-control" id="inputName">
                </div>
            </div>
            <div class="row mb-3 w-50">
                <label for="inputspecies" class="col-sm-2 col-form-label">Species</label>
                <div class="col-sm-10">
                    <input type="text" name = "Species" [(ngModel)]="newAnimal.species" class="form-control" id="inputSpecies">
                </div>
            </div>
            <div class="row mb-3 w-50">
                <label for="inputBreed" class="col-sm-2 col-form-label">Breed</label>
                <div class="col-sm-10">
                    <input type="text" name = "Breed" [(ngModel)]="newAnimal.breed" class="form-control" id="inputBreed">                    
                </div>
            </div>
            <div class="row mb-3 w-50">
                <label for="inputOwner" class="col-sm-2 col-form-label">Owner</label>
                <div class="col-sm-10">
                    <input type="text" name = "Owner" [(ngModel)]="newAnimal.owner" class="form-control" id="inputOwner">                    
                </div>
            </div>
            <div class="row mb-3 w-50">
                <label for="inputChkInDt" class="col-sm-2 col-form-label">Check In Date</label>
                <div class="col-sm-10">
                    <input type="date" name = "CheckInDate" [(ngModel)]="newAnimal.checkInDate" class="form-control" id="inputChkInDt">                    
                </div>
            </div>
            <div class="row mb-3 w-50">
                <label for="inputChkOutDt" class="col-sm-2 col-form-label">Check Out Date</label>
                <div class="col-sm-10">
                    <input type="date" name = "CheckOutDate" [(ngModel)]="newAnimal.checkOutDate" class="form-control" id="inputChkOutDt">                    
                </div>
            </div>
            <div class="row mb-3 w-50 ">
                <label for="inputSrc" class="col-sm-2 col-form-label">Source</label>
                <div class="col-sm-10">
                    <input type="text" name = "src" [(ngModel)]="newAnimal.src" class="form-control" id="inputSrc" placeholder="/assets/name.jpg">                    
                </div>                        
            </div>             
            <button (click)="onSubmit()" type="button" class="btn btn-secondary">Add</button>                          
        </div>
    </DIV>
    <div>