.carouselimgsz{
    height:350px;
} 
.main-container{
    height: 900px;
    background-color: rgba(255, 255, 0, 0.432);
}   
.header-res-text{
    font-size: 40px;
    font-weight: 500;
    padding-left: 170px;
}
.col-form-label{
    font-weight: 500;
}
